<header class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Pardesi Jobs", pardesi_jobs_home_path, id:"logo" %>
      <nav>
        <ul class="nav navbar-nav pull-right">
          <li><%= link_to "Home", pardesi_jobs_home_path %></li>
          <li><%= link_to "Services", pardesi_jobs_services_path %></li>
          <li><%= link_to "contact", pardesi_jobs_contact_path %></li>
          <li><%= link_to "Sign In", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
